<div class="text-center">
<%= link_to 'New article', new_article_path %>
</div>
<br>
  <% @articles.each do |article| %>
      	<div class="blog-post">
        <h1 class="blog-title"><%= article.title %></h1>
        <h2 class="date">Posted 28th Feb 2015</h2>
        <p class="blog-content"><%= article.text %></p>
        <table>
        <tr>
          <td><%= link_to 'Show', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </table>
      </div>
<% end %>

<%= content_for :yield_sidebar do %>
  <aside class="col span_1_of_3">
      <div class="side-post">
        <h3>Top articles</h3>
          <img src="http://placehold.it/800x400&text=img" alt="img">
    <p class="side-content">Ut noster tractavissent, summis hic eiusmod te quem. Doctrina velit litteris eu eu fore ingeniis philosophari ne quid o ingeniis ne anim, illum ea iudicem. Pariatur duis dolor hic dolor ad vidisse amet elit ita summis, quo duis te malis.</p>
      </div>

      <div class="side-post">
          <p class="side-content">Ultricies lacus et, non orci gravida purus augue integer, sed turpis. Erat dapibus. 						Eleifend massa scelerisque, aenean penatibus laoreet ut in.</p>
          <a href="#" class="button">Subscribe!</a>
      </div>
   </aside>

   <% end %>
