<header>
		  <h1 class="logo">Rails blog</h1>
	</header>

	<nav>
  			<ul>
				    <li class="nav-item"><a href="/#" >Home</a></li>
				    <li class="nav-item"><a href="/articles" >Blog</a></li>
				    <li class="nav-item"><a href="#">About</a></li>
    				<li class="nav-item"><a href="#" >Contact</a></li>
			  </ul>
				  <div class="menu-bar">Menu
					    <span class="hamburger-icon"><i class="fa fa-bars"></i></span>
			  </div>
		</nav>
